@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: black;
    max-width: 1000px;
    margin: 0 auto;
}

.container header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    color: #fff;
    background: #1F2937;
    padding: 0 20px;
}

.container header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding-right: 95px;
    flex-shrink: 1;
}

.logo h2{
    font-size: 28px;
    font-weight: bold;
    padding-left: 75px;
}

.containerunderheader {
    height: 310px;
    display: flex;
    align-items: center;
    color: red;
    background: #1F2937;
}

.containerunderheader img {
    max-width: 300px;
    border-radius: 5%;
    margin-left: 90px;
}

.containerunderheader section {
    max-width: 40%;
    padding-left: 95px;
}

.containerunderheader h1 {
    font-size: 48px;
    color: #F9FAF8;
    line-height: 45px;
    margin-bottom: 10px;
}

.containerunderheader p {
    margin-bottom: 10px;
    color: #E5E7EB;
}

.container-info {
    background-color: #E5E7EB;
    height: 370px;

}

.container-info h2 {
    text-align: center;
    padding-top: 30px;
    color: #1F2937;
    font-size: 36px;
}

button {
    background: #3882F6;
    border-style: none;
    padding: 7px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.box-with-border {
    border: 2px solid #3882F6;
    border-radius: 10%;
    height: 110px;
    width: 110px;
    margin-top: 30px;

}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.each-box p {
    padding-top: 10px;
    text-align: center;
    /* margin-top: 10px; */
    width: 110px;
    color: #676868;
}

.quote-container {
    height: 370px;
    background-color: #c8ccdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text-container {
    font-size: 28px;
    font-style: italic;
    color: #1F2937;
    /* text-align: center; */
    width: 60%;
}

#quoteAuthor {
    margin-top: 10px;
    font-weight: bold;
    padding-left: 400px;
}

.sign-up-container {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
}

.sign-up-box {
    color: white;
    background: #3882F6;
    padding: 30px 70px;
    display: flex;
    gap: 80px;
    border-radius: 10px;
}

.sign-up-box button {
    border: 1px solid white;
    padding: 0px 20px;
}

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: rgb(156, 156, 156);
}

footer p {
    padding: 20px;
}